// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 
// todo index css
.main{
   background-color: wheat;
   width: 100%;
   height: 705px;
   margin-top: -10px;
}
.main h1{
   text-align: center;
}
.container{
   background-color: rgb(233, 220, 246);
   width: 450px;
   height: 320px;
   margin-left: 510px;
   padding-left: 50px;
   padding-top: 15px;
   border-radius: 10px;
}
.container input{
   background: transparent;
   border: none;
   outline: none;
   border-bottom: 3px solid rgb(186, 142, 228);
   font-size: 23px;
   width: 400px;
   height: 70px;
}
.container button{
   border: 2px solid black;
   width: 150px;
   height: 50px;
   font-size: 20px;
   margin-top: 40px;
   border-radius: 7px;
   margin-left: 130px; 
   background-color: rgb(186, 142, 228);
   color: white;
}
.border{
   border: 5px solid black;
   padding: 20px;
}
.border_1{
   border: 5px solid black;
   padding: 20px;
}
.border_2{
   border: 3px solid black;
   padding: 5px;
}